:root {
    --background-color: white;
    --text-color: black;
    --primary-color: #F15350; /* Your existing color variables */
    --secondary-color: #FFCDCC;
    /* Add more variables as needed */
}
