.topSection-left {
  span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 30.26px;
    text-align: left;
  }
}

.topSection-right {
  .topSection-right-in-left {
    span {
      font-family: Inter;
      font-size: 10px;
      font-weight: 600;
      line-height: 24.2px;
      text-align: left;

      p {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }

  .topSection-right-in-right {
    button {
      font-family: Inter;
      font-size: 10px;
      font-weight: 600;
      line-height: 18.2px;
      text-align: left;
      padding: 0px 10px !important;
    }
  }
}


.table {
  .table-in {

    .table-in-top,
    .table-in-bottom {
      height: 90px !important;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }

    .table-in-center {
      .table-in-center-in {
        width: 50px;
        height: 50px;
        border: 1px solid grey;
        border-radius: 50%;

        span {
          font-family: Quicksand;
          font-size: 18px;
          font-weight: 500;
          line-height: 31.25px;
          text-align: center;

        }
      }
    }
  }
}